/* база */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  height: 100%;
}

.hero {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  min-height: 700px;
  /* min-height: 100dvh; */

  text-align: center;

  background: url("./assets/header-photo2.jpg") center / cover no-repeat;
}

/* контейнер для позиционирования */
.hero-overlay {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  padding-bottom: 160px;
}

/* 🔥 затемнённый прямоугольник */
.text-box {
  width: 100%;
  background: rgba(0, 0, 0, 0.27);
  padding: 16px 20px;
  color: rgb(255, 255, 255);
  line-height: 0.75;

  /* добавим анимацию */
  animation: fadeInUp 1.2s ease-out forwards;
}

.first-name {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 56px;
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.2s;
}

.second-name {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-size: 35px;
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.5s;
}


/* текст */
.names {
  font-size: 56px;
  margin: 0;
}

.text-two {
  line-height: 0.45;
}

.third-name {
  font-family: "Great Vibes", cursive;
  font-weight: 400 !important;
  font-size: 47px;
  margin: 10px 0 0;
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.8s;
}

/* Анимация для плавного появления */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.guest {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 64px;
}

.line {
  width: 160px;
  /* длина линии */
  height: 1px;
  /* толщина линии */
  background-color: rgb(165, 149, 104);
  /* золотистый цвет */
  margin-bottom: 64px;
  /* расстояние между линией и заголовком */
}

.dear-guest {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 70px;
  line-height: 0.9;
}

.second-dear-guest {
  font-family: "Great Vibes", cursive;
  font-weight: 100;
  font-size: 70px;
}

.descr-guest {
  font-family: "Roboto", sans-serif;
  font-family: "EB Garamond", serif;
  /* font-optical-sizing: auto; */
  font-weight: 100;
  font-style: normal;
  font-size: 27px;
  line-height: 1.5;
  padding: 0 24px 0 24px;
}

.line-bottom {
  margin-top: 64px;
}

/* styles.css */
.highlight {
  background: none;
  /* прозрачный фон */
  border: 2px solid rgb(51, 255, 0);
  /* красная обводка */
  border-radius: 50%;
  /* круг */
}

.image-container {
  width: 100vw;
  /* контейнер растягивается на ширину экрана */
  max-width: 100vw;
  /* никогда не больше экрана */
  /* height: auto;          высота подстраивается под пропорции */
  overflow: hidden;
}

.imageCal {
  /* width: 100%;           картинка масштабируется по ширине экрана */
  /* height: auto;
  width: 100vw;        /* контейнер растягивается на ширину экрана */
  max-width: 100vw;
  object-fit: contain;
  /* помещает полностью картинку в контейнер */
  display: block;
}

.gaudi-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 100vh;
  /* min-height: 100dvh; */

  text-align: center;
  color: white;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    /* затемнение */
    url('./assets/gaudi.jpg');
}

.gaudi-heading {
  font-family: "Great Vibes", cursive;
  font-weight: 100;
  font-size: 70px;
}

.gaudi-description {
  font-family: "EB Garamond", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 27px;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  position: relative;
}

.plan-heading {
  font-family: "Great Vibes", cursive;
  font-weight: 100;
  font-size: 70px;
  text-align: center;
  margin-bottom: 40px;
}

.plan-element {
  position: relative;
  width: 300px;
  margin-bottom: 60px;
  text-align: center;
}

.plan-element.left {
  align-self: flex-start;
  margin-left: 10%;
}

.plan-element.right {
  align-self: flex-end;
  margin-right: 10%;
}

.photo-el {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.photo-el-1 {
  object-position: center 70%;
}

.photo-el-3 {
  object-position: center 60%;
  /* transform: scale(0.9); */
}

.time-element {
  margin-top: 10px;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: normal;
  /* text-align: ; */
  font-size: 27px;
}

.descr-element {
  font-family: "EB Garamond", serif;
  font-weight: 100;
  font-style: normal;
  /* text-align: ; */
  font-size: 21px;
  color: #555;
}

/* стрелки */
.arrow {
  position: absolute;
  width: 43px;
}

.arrow-right {
  right: -32px;
  top: 80%;
  transform: translateY(-50%);
}

.arrow-left {
  left: -32px;
  top: 92%;
  transform: translateY(-68%);
}


.det-heading {
  font-family: "Great Vibes", cursive;
  font-weight: 100;
  font-size: 70px;
  text-align: center;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details .line {
  margin-top: 52px;
}

.details-el {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin-left: 16px;
  margin-right: 16px;
}

.details-heading {
  font-family: "EB Garamond", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 30px;
}

.descr-details {
  font-family: "EB Garamond", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 24px;
  margin-top: 0;
}

.second-details-el {
  margin-top: 32px;
}

.forms-container {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-forms {
  text-align: center;
  font-family: "EB Garamond", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 34px;
}

.head-forms {
  text-align: center;
  font-family: "EB Garamond", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 22px;
  margin: 0 10px;
}

.descr-forms {
  text-align: center;
  font-family: "EB Garamond", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 20px;
  margin: 32px 10px 0 10px;

}

/* форма */
.invite-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 32px;
  font-family: "EB Garamond", serif;

}

.invite-form {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.invite-form label,
.section-title {
  font-size: 18px;
  font-weight: 600;
}

.invite-form input[type='text'] {
  width: 100%;
  height: 54px;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  padding: 10px 14px;
  font-size: 18px;
  box-sizing: border-box;
}

.radio-option,
.checkbox-option {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 500;
}

.radio-option input,
.checkbox-option input {
  width: 24px;
  height: 24px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

button {
  margin-top: 20px;
  height: 70px;
  border: 2px solid #333;
  border-radius: 40px;
  background: white;
  color: black;
  font-size: 23px;
  font-family: "EB Garamond", serif;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #f0f0f0;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 8px;
}

.success-message {
  color: green;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


/* .timer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  background: url("./assets/Back.jpg") center / cover no-repeat;
  color: white;
} */

.timer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("./assets/Back.jpg") center / cover no-repeat;
  color: white;
  overflow: hidden;
  /* чтобы слой не вылезал */
}

.timer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  /* 👈 регулируй затемнение */
  z-index: 1;
}

/* чтобы текст был поверх затемнения */
.timer>* {
  position: relative;
  z-index: 2;
}

.timer-title-heading {
  font-family: "Great Vibes", cursive;
  font-weight: 100;
  font-size: 70px;
}

/* текст */
.timer-title {
  position: relative;
  font-family: "EB Garamond", serif;
  font-size: 32px;
  letter-spacing: 6px;
  margin-bottom: 30px;
  z-index: 2;
}

/* цифры */
.timer-numbers {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 34px;
  font-family: "EB Garamond", serif;
  font-weight: 300;
  z-index: 2;
}

.timer-numbers span {
  margin: 0 8px;
}

.sep {
  opacity: 0.7;
}

/* подписи */
.timer-labels {
  position: relative;
  display: flex;
  gap: 20px;
  margin-top: 10px;
  font-size: 18px;
  font-family: "EB Garamond", serif;
  text-transform: lowercase;
  z-index: 2;
}

* {
  /* border: 1px solid red; */
}

.toast {
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 420px;
  height: 80px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "EB Garamond", serif;
  font-size: 20px;
  z-index: 1000;
  transition: bottom 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  color: white;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

.toast.show {
  bottom: 30px;
  opacity: 1;
}

.toast.success {
  background: #1eee28;
}

.toast.error {
  background: #c62828;
}